#ChatBox{
    width: 1200px;
    height: 500px;
    padding: 0.01em 16px;
    border-radius: 10px;
    border: 1px solid black !important;
    margin: 0 auto;
    background-color: rgba(176, 255, 252, 0.26);
}
#MessageBox {
    margin: 0 auto;
    padding: 0.01em 160px;
}
#input-div{
    background-color: rgba(176, 255, 252, 0.26);
    width: 900px;
    padding: 10px;
    display: inline-block;

}
#send-btn{
    display: inline-block;
}
#back-btn{
    padding-top: 30px;
    padding: 0.01em 30px;
    display: inline-block;
}
#title{
    display: inline-block;
    padding: 0.01em 500px;

}